{{> header}}

    <nav class="navbar navbar-default my-nav navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img src="#" width="30" height="100%" alt="">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#home" class="navbar-brand js--scroll-to-home">Jassem Al-Buloushi</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-nav">

              <ul class="nav navbar-nav navbar-right">
                <li><a class="js--scroll-to-skills" href="#skills">Skills</a></li>
                <li><a class="js--scroll-to-projects" href="#projects">Projects</a></li>
                <li><a class="js--scroll-to-about" href="#">About Me</a></li>
                <li><a class="js--scroll-to-contact" href="#contact">Contact</a></li>
              </ul>

            </div>

      </div>
    </nav>


      <header class="js--header" id="home">

        <div class="row">
          <div class="col-sm-12">
            <h1>Hi, I'm <span>{{creator}}.</span><br> I create websites.</h1>
          </div>
        </div>

        <div class="row js--wp-4">

          <div class="col-sm-4 box">
            <i class="fas fa-code icon-big"></i>
            <h2>Web Design</h2>
          </div>

            <div class="col-sm-4 box">
              <i class="fas fa-mobile-alt icon-big"></i>
              <h2>Mobile Design</h2>
            </div>

            <div class="col-sm-4 box">
              <i class="fab fa-connectdevelop icon-big"></i>
              <h2>Graphic Design</h2>
            </div>

        </div>

      </header>

      <section class="skills js--section-skills js--wp-5" id="skills">
        <div class="row box">
          <h2>My <span>Skills</span></h2>
          <p class="long-copy">
            Let's make a colorfull website with clean HTML and CSS code.
          </p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="skills-left">
              <h3>Part Designer</h3>
              <ul>
                <li>
                  <span>UX Design</span>
                  <div class="skill-bar-holder">
                    <div class="skill-capacity col-xs-9 js--wp-1"></div>
                  </div>
                </li>

                <li>
                    <span>UI Design</span>
                    <div class="skill-bar-holder">
                      <div class="skill-capacity col-xs-7 js--wp-1"></div>
                    </div>
                  </li>

                  <li>
                      <span>Make it POP</span>
                      <div class="skill-bar-holder">
                        <div class="skill-capacity col-xs-11 js--wp-1"></div>
                      </div>
                    </li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
              <div class="skills-right">
                  <h3>Part Coder</h3>
                  <ul>
                    <li>
                      <span>HTML/CSS</span>
                      <div class="skill-bar-holder">
                        <div class="skill-capacity col-xs-9 js--wp-2"></div>
                      </div>
                    </li>

                    <li>
                      <span>Javascript</span>
                      <div class="skill-bar-holder">
                        <div class="skill-capacity col-xs-6 js--wp-2"></div>
                      </div>
                    </li>

                    <li>
                      <span>Bootstap</span>
                      <div class="skill-bar-holder">
                        <div class="skill-capacity col-xs-3 js--wp-2"></div>
                      </div>
                    </li>
                  </ul>
                </div>
          </div>
        </div>

      </section>

      <section class="projects js--section-projects js--wp-6" id="projects">

        <div class="row box">
          <h2>My <span>Projects</span></h2>
          <p class="long-copy">
            A sample of the projects I developed from scratch, pixel perfect.
          </p>
        </div>

        <div class="row">
          <div class="col-md-6 js--wp-3">
              <div class="card text-center item">
                  <div class="card-body">
                      <h3 class=".card-title">Lazzzy Hub</h3>
                      <p class="card-text">
                        Resources for building amazing websites with HTML, CSS and Javascript.
                      </p>
                    </div>
                  <img class="card-img-top" src="/assets/img/lazzzy-Hub.png" alt="Card image cap">
                </div>
          </div>

          <div class="col-md-6">
              <div class="card text-center item hidden">
                  <div class="card-body">
                      <h3 class=".card-title">Jumo Coffee</h3>
                      <p class="card-text">
                        Jumo Coffee shop and supplier all the way from Kuwait.
                      </p>
                    </div>
                  <img class="card-img-top" src="#" alt="Card image cap">
                </div>

                <div class="card text-center item">
                    <div class="card-body">
                        <h3 class=".card-title">Lost History</h3>
                        <p class="card-text">
                          A fact page about the lost history of the world.
                        </p>
                      </div>
                    <img class="card-img-top" src="/assets/img/lost_history_compressed.jpg" alt="Card image cap">

                  </div>
          </div>

        </div>

      </section>

      <section class="about hide">
        <div class="row">
          <div class="col-md-4">
            <p>
              About me
            </p>
          </div>

          <div class="col-md-8">
            <div class="img-box">
              <img src="#" alt="html code">
            </div>
          </div>

        </div>

      </section>

      <footer class="js--footer-contact" id="contact">
        <div class="row">
          <p>
              © {{currentYear}} {{creator}} - All Rights Reserved. Designed by J. A.
          </p>
          <p>
              <a href="mailto:jassem1988@gmail.com"><i class="far fa-envelope-open icon-small"></i> Get in touch with me <i class="far fa-arrow-alt-circle-right icon-small"></i></a>
          </p>
          <img src="/assets/img/JA_logo.png" alt="logo">
        </div>
      </footer>

{{> footer}}
